<div>
    <ng-container *ngIf="!auth.isAdmin; then UserNavbar"></ng-container>
    <ng-container *ngIf="auth.isAdmin; then AdminNavbar"></ng-container>
    <ng-template #UserNavbar>
        <nav></nav>
    </ng-template>
    <ng-template #AdminNavbar>
        <nav></nav>
    </ng-template>
    <button>
        <a *ngIf="!auth.isAuth"
            routerLink="/auth/login">
            Login
        </a>
    </button>
    <button>
        <a *ngIf="!auth.isAuth"
            routerLink="/auth/signup">
            Signup
        </a>
    </button>
    <button>
        <a *ngIf="auth.isAuth"
            (click)="logout()">
            Logout
        </a>
    </button>
</div>