<div>
    <div class="container">
        <div>
            <div>
                <h2>Reset your password</h2>
                <form [formGroup]="pwdResetForm" (ngSubmit)="resetPwd()">
                    <div>
                        <label>Password</label>
                        <input type="password" id="password" placeholder="Password" formControlName="password" required>
                        <span *ngIf="controls.password?.touched && controls.password?.hasError('required')" class="errors">Password required.</span>
                    </div>
                    <div>
                        <button [disabled]="!pwdResetForm.valid" type="submit">Reset password.</button>
                        <br><br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>